.loginCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  min-height: 250px;
  margin: 15px 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px #13aa527e;
  transition: ease 0.3s all;
}
.loginCard form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.loginCard:hover {
  box-shadow: 0px 0px 15px 6px #ee4a528c;
  background-size: 50% auto;
}
.btn {
  margin: 25px;
}
